Ans1: An escape character is used to insert an illegal character in a string. An escape character is a backslash \ followed by the character to be inserted.
For example:

In [1]:
p='It's alright'
p

SyntaxError: invalid syntax (Temp/ipykernel_15020/4027733396.py, line 1)

But if we insert the escape character followed by single quote, then it will execute correctly.

In [2]:
p='It\'s alright'
p

"It's alright"

Ans2:The escape characters n and t stand for newline and tab respectively

In [3]:
m="Howl's Moving Castle"
m

"Howl's Moving Castle"

Ans4:The word Howl's has not thrown an error because the string started and ended with double quotes.

Ans 5 If we do not want to use the n character to write a string of new lines, then we can write print () for each string as the example given below

In [7]:
print("My name is xyz\nyour name is abc")

My name is xyz
your name is abc

In [9]:
print("My name is xyz")
print("your name is abc")

My name is xyz
your name is abc

Ans6:The value of 'Hello,world'[1] is 'e'
The value of 'Hello,world'[0:5] is 'Hello'
The value of 'Hello,world'[:5] is 'Hello'
The value of 'Hello,world'[3:] is 'lo,world'

 Ans7'Hello'.upper() ='HELLO'
      'Hello'.upper().isupper()=True
      'Hello'.upper().lower()='hello'

Ans 8 'Remember,remember,the fifth of July.'.split()=['Remember,remember,the', 'fifth', 'of', 'July.']

'-'.join('There can only one'.split())='There-can-only-one'

In [33]:
#Ans 9:
p='twinkle'
width=10
print(p.ljust(width))

p='twinkle'
width=10
print(p.rjust(width))

p='twinkle'
width=10
print(p.center(width))

twinkle
   twinkle
 twinkle

In [34]:
#Ans 10:
x='    1234567      '
print(x.lstrip())

1234567

In [35]:
x='    1234567      '
print(x.rstrip())

    1234567

In [36]:
x='    1234567      '
print(x.strip())

1234567